#Embedding model used for Ingestion and retrieval
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"

#LLM MODELS
OPENAI_CHAT_MODEL="gpt-5.4"
COHERE_RERANK_MODEL="rerank-v3.5" 

#COHERE API KEY
COHERE_API_KEY="COHERE_API_KEY"

#LLM API Keys
OPENAI_API_KEY="OPENAI_API_KEY"

#postgresql+psycopg://postgres:<<PASSWORD>>@localhost:5433/<<DB>>
PG_CONNECTION_STRING = "postgresql+psycopg://username:password@localhost:5433/credit_card_summarization_db"
PG_CONNECTION_STRING_RDBMS = "postgresql+psycopg://username:password@localhost:5433/credit_card_summary_seed_data_db"

#LANGSMITH CONFIGURATIONS
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_PROJECT="credit-card-summarization-bot"

#GUARDRAILS key
GUARDRAILS_API_KEY="GUARDRAILS_API_KEY"
